    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test Vue </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <!-- This block is the menu we will use to add projects and user we want to watch-->
        <div id="menu">

        </div>
        <!-- This block is the feed in which we will diplay info about watched repo-->
        <div id="feed">
                <ul id="example-1">
                    <li v-for="item in repo">
                          {{ item.name}} <br>
                          <ul id="example-1">
                            <li v-for="commit in item.commits">
                                  {{ commit.commit.author.name }} {{ commit.commit.message }} {{ commit.sha }}
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
        <script src="./index.js"></script>
    </body>
    </html> 